[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MVNBayesian"]
	path = MVNBayesian
	url = https://github.com/cubiczebra/mvnbayesian
[submodule "VBTree"]
	path = VBTree
	url = https://github.com/cubiczebra/vbtree
